<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.errorgonize.user.store.UserStore">
    <insert id="create" parameterType="io.errorgonize.user.entity.User">
        insert into user (name, intro, tagP, tagI, email)
        values (#{name}, #{intro}, #{tagP}, #{tagI}, #{email})
    </insert>

    <select id="retrieve" resultType="io.errorgonize.user.entity.User">
        select * from user where id=#{id}
    </select>

    <update id="update" parameterType="io.errorgonize.user.entity.User">
        update user
        set
            name=#{name},
            intro=#{intro},
            tagP=#{tagP},
            tagI=#{tagI},
            email=#{email}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>

</mapper>
